In [ ]:
spark.read.format("com.databricks.spark.avro").option("header","true").load("/../part-m-00001.avro").show(1)

In [ ]:
import numpy as np
np.arange(1,5, 1)

# посмотрим на все таблицы

--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
df=spark.read.format("com.databricks.spark.avro").option("header", "true").load("/")
df.printSchema()

In [ ]:
df.columns

In [ ]:
df.registerTempTable("table")
spark.sql("select operatorid, created, sendername, data from table").show(1)

+----------+-------------+----------+----+
|operatorid|      created|sendername|data|
+----------+-------------+----------+----+
|      null|1566774017000|   Евгений|null|
+----------+-------------+----------+----+
only showing top 1 row

In [ ]:
spark.sql("select operatorid, count(*) as cnt from table group by operatorid order by cnt desc limit 5").show()

--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
spark.read.format("com.databricks.spark.avro").option("header", "true").load("/.../part-m-00000.avro").printSchema()

In [ ]:
temp_df=spark.read.format("com.databricks.spark.avro").option("header", "true").load("/.../part-m-00001.avro")
temp_df.columns

In [ ]:
temp_df.registerTempTable("table2")
spark.sql("select visitsessionid from table2 limit 3").show(3, False);

In [ ]:
spark.sql("select json, count(json) as cnt from table2 group by json order by cnt desc").show(5, False)

In [16]:
spark.sql("select token from table2").show(1)

+-----+
|token|
+-----+
|    1|
+-----+
only showing top 1 row

--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
df=spark.read.format("com.databricks.spark.avro").option("header", "true").load("/.../")
df.printSchema()

In [13]:
df.registerTempTable('table3')
spark.sql('select invitationstate, invitationid, country, region, city  from table3').show(10, False)

+---------------+------------+-------+---------------+----+
|invitationstate|invitationid|country|region         |city|
+---------------+------------+-------+---------------+----+
|null           |null        |Россия |Санкт-Петербург|null|
|null           |null        |Россия |Одинцово       |null|
|null           |null        |Россия |Чита           |null|
|null           |null        |Россия |Москва         |null|
|null           |null        |null   |null           |null|
|null           |null        |Россия |Москва         |null|
|null           |null        |Россия |Москва         |null|
|null           |null        |null   |null           |null|
|null           |null        |Россия |Москва         |null|
|null           |null        |Россия |Челябинск      |null|
+---------------+------------+-------+---------------+----+
only showing top 10 rows

-------------------------------------------------------------------------------------------------------------------------------

### выгрузим данные по именам

In [ ]:
parquetFile = spark.read.parquet("/.../part-00000-..c000.snappy.parquet")
parquetFile.createOrReplaceTempView("parquetFile")
temp = spark.sql("SELECT * from parquetFile limit 10")
temp.show()

In [ ]:
temp.describe()

In [ ]:
temp.printSchema()

In [40]:
names_df=spark.sql("SELECT firstname as name, count(*) as cnt from parquetFile group by name order by cnt desc")
names_df.show(5)

+---------+------+
|     name|   cnt|
+---------+------+
|     null|495699|
|Александр| 53194|
|   Сергей| 47877|
|    Елена| 47540|
|  Татьяна| 45232|
+---------+------+
only showing top 5 rows

In [42]:
names_df.repartition(1).write.format('com.databricks.spark.csv').save("/user/temp.csv",header = 'true')